:root {
  --color-primary: #7928CA;
  --color-primary-dark: #4C2889;
  --color-primary-light: #8A63D2;
  --color-primary-lighter: #D8CCF1;

  --color-secundary: #50E3C2;
  --color-secundary-dark: #29BC9B;
  --color-secundary-light: #79FFE1;
  --color-secundary-lighter: #AAFFEC;


  --color-background: #1b1724;
  --color-white: #ffffff;
  --color-black: #0e0e0e;
  --color-black-opasity: rgba(1,1,1,0.5);
  --color-gray: #a7a7a7;
  --color-gray-light: #e1e2eb;
  --color-text-white: #ffffff;
  --color-text-gray: #e1e2eb;

  --font-size-large: 8rem;
  --font-size-medium: 3rem;
  --font-size-normal: 1.8rem;
  --font-size-small: 1.5rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Roboto, system-ui;
}

ol,
ul {
    list-style: none;
}

a,
a:active,
a:hover {
  color: var(--color-primary);
  text-decoration: none;
  outline: none;
}


h1 {
  font-size: var(--font-size-large);
}

h2 {
  font-size: var(--font-size-medium);
}

h3 {
  font-size: var(--font-size-medium);
}

p {
  font-size: var(--font-size-normal);
}

.container {
  padding: 8rem 10rem;
}

.link,
.link__text,
.link__contain {
  font-size: var(--font-size-normal);
  font-weight: 500;
  text-transform: capitalize;
  width: max-content;
}

.link__text {
  position: relative;
  color: var(--color-primary);
}

.link__text:hover {
  color: var(--color-primary-dark)
}


.link__text:hover::after {
  content: '';
  background-color: var(--color-gray-light);
  margin-bottom: -5px;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 100%;
  animation: ani-link-text-border 0.2s ease both;
}


.link__contain {
  color: var(--color-text-gray);
  background-color: var(--color-primary);
  border-radius: 30px;
  transition: all .2s;
  padding: 1rem 1.5rem;
}

.link__contain:hover {
  color: var(--color-text-gray);
  background-color: var(--color-primary-dark);
  transform: scale(1.05);
}

@keyframes ani-link-text-border {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
